.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
  background-color: #d420dd;
    font-style: italic;

}

.navbar-default .navbar-nav>.active>a{
  color: #d420dd;
}

a:hover,a:active {
  font-style: italic;
   
}

a{
   color: #d420dd !important;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
    font-style: bold;
    font-weight: 400;

}
h3 {
  font-size: 24px;
  font-weight: 200;
}


p {
  font-size: 15px;
}

*{
  font-family: "Times New Roman" !important;
}